<div class="flex-container">
    <button class="menu_button menu_button_icon drawer-opener inline-flex" data-target="sys-settings-button">
        <i class="fa-solid fa-plug"></i>
        <span data-i18n="API Connections">Connect your API Key</span>
    </button>
    <button class="menu_button menu_button_icon drawer-opener inline-flex" data-target="rightNavHolder">
        <i class="fa-solid fa-address-card"></i>
        <span data-i18n="Character Management">List of Bots</span>
    </button>
    <button class="menu_button menu_button_icon drawer-opener inline-flex" data-target="persona-management-button">
        <i class="fa-solid fa-face-smile"></i>
        <span data-i18n="Persona Management">Your Persona(s)</span>
    </button>
</div>
